head
	meta(content='oxox.io',name='author')
	meta(content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no',name='viewport')
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/javascripts/libs/jquery.min.js')