header
	div#settings
	div#systemControl
		a.btn(href="#")
			em.icon-resize-small
		a.btn(href="#")
			em.icon-off
	div#theme_picker
		h4 皮肤:
		div.theme.selected
			div.square.default
			label.text_shadow custom
		div.theme
			div.square.blue
			label.text_shadow blue
		div.theme
			div.square.orange
			label.text_shadow orange
		div.theme
			div.square.red
			label.text_shadow red
		div.theme
			div.square.green
			label.text_shadow green
		h4 管理应用:
		div.add_apps
			a.btn(href="#")
				em.icon-plus 添加官方应用
			a.btn(href="#")
				em.icon-plus 添加自定义应用
		h4 正在运行:
		ul.apps
			li(style="background-image:url(img/logo.png);background-size:cover;")