aside#themePicker.themepicker
    div#themepickerToggle.themepicker_toggle
    div#themepickerList.themepicker_list
        h4 皮肤:
        div.theme.selected(data-name="theme-default")
            div.square.color_default
            label.text_shadow custom
        div.theme(data-name="theme-blue")
            div.square.color_blue
            label.text_shadow blue
        div.theme(data-name="theme-orange")
            div.square.color_orange
            label.text_shadow orange
        div.theme(data-name="theme-red")
            div.square.color_red
            label.text_shadow red
        div.theme(data-name="theme-green")
            div.square.color_green
            label.text_shadow green
        div.theme(data-name="theme-darkgreen")
            div.square.color_darkgreen
            label.text_shadow darkgreen
        div.theme(data-name="theme-purple")
            div.square.color_purple
            label.text_shadow purple
        div.theme(data-name="theme-darkred")
            div.square.color_darkred
            label.text_shadow darkred
        div.theme(data-name="theme-darkblue")
            div.square.color_darkblue
            label.text_shadow darkblue
        div.theme(data-name="theme-yellow")
            div.square.color_yellow
            label.text_shadow yellow
        div.theme(data-name="theme-grey")
            div.square.color_grey
            label.text_shadow grey