.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
html,
body {
  display: block;
  height: 100%;
}
body {
  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  margin: 0px;
  font-size: 100%;
  cursor: move;
  overflow-x: hidden;
  background-image: url('../img/2.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
}
img {
  border: none;
}
textarea,
input,
select {
  outline: none;
  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
}
.hidden {
  display: none;
}
.clear {
  clear: both;
}
fieldset {
  border: 0;
}
.transition_all {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.text_shadow {
  color: #222222;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
.spacer_20 {
  height: 20px;
  clear: both;
}
.widget_scroll_container {
  overflow: hidden;
  margin: 0px auto;
  position: absolute;
  top: 8%;
  left: 60px;
}
div.page_content {
  padding: 16px;
}
div.widget_container {
  position: relative;
  margin-right: 50px;
  /* when this value is changed, make sure its also updated in ui class ($container_margin) */

  float: left;
  padding: 10px;
  /* when this value is changed, make sure its also updated in ui class ($container_padding) */

  -webkit-perspective: 1000px;
  perspective: 1000px;
}
div.widget_container:last-child {
  margin-right: 0px;
}
div.widget {
  float: left;
  position: relative;
  color: #FFFFFF;
  cursor: pointer;
  margin: 5px;
  /* when this value is changed, make sure its also updated in ui class ($widget_margin) */

  opacity: 1;
  -webkit-user-select: none;
  user-select: none;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
div.widget.unloaded {
  opacity: 0;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
div.widget.animation {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
div.widget:hover {
  z-index: 10;
  border: 3px solid rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
div.widget_link {
  cursor: pointer;
}
/* when this value is changed, make sure its also updated in ui class ($widget_width_big) */
div.widget1x1 {
  width: 90px;
  height: 90px;
}
div.widget2x2 {
  width: 190px;
  height: 190px;
}
div.widget4x2 {
  width: 390px;
  height: 190px;
}
div.widget1x1:hover {
  width: 84px;
  height: 84px;
}
div.widget2x2:hover {
  width: 184px;
  height: 184px;
}
div.widget4x2:hover {
  width: 384px;
  height: 184px;
}
div.widget a {
  color: #FFFFFF;
}
div.widget div.main {
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  top: 100%;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}
div.widget div.main {
  height: 100%;
  top: 0px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div.widget div.widget_content {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  overflow: hidden;
}
div.widget div.main > span {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-size: 0.8em;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
/*
Widget Theme
*/
.widget_blue,
.theme-blue .widget {
  background-color: #0097aa;
}
.widget_orange,
.theme-orange .widget {
  background-color: #f29500;
}
.widget_red,
.theme-red .widget {
  background-color: #c23916;
}
.widget_green,
.theme-green .widget {
  background-color: #94c849;
}
.widget_darkgreen,
.theme-darkgreen .widget {
  background-color: #6fa014;
}
.widget_purple,
.theme-purple .widget {
  background-color: #91009b;
}
.widget_darkred,
.theme-darkred .widget {
  background-color: #be213e;
}
.widget_darkblue,
.theme-darkblue .widget {
  background-color: #3c7780;
}
.widget_yellow,
.theme-yellow .widget {
  background-color: #d9b700;
}
.widget_grey,
.theme-grey .widget {
  background-color: #4c4c4c;
}
/*
Compact Mode
*/
@media screen and (max-height: 680px) {
  /* when this value is changed, make sure its also updated in ui class ($widget_width_small) */
  div.widget1x1 {
    width: 65px;
    height: 65px;
  }
  div.widget2x2 {
    width: 140px;
    height: 140px;
  }
  div.widget4x2 {
    width: 290px;
    height: 140px;
  }
  div.widget1x1:hover {
    width: 59px;
    height: 59px;
  }
  div.widget2x2:hover {
    width: 134px;
    height: 134px;
  }
  div.widget4x2:hover {
    width: 284px;
    height: 134px;
  }
}
/*
touch
*/
body.touch {
  overflow: auto;
}
body.touch div.widget:hover {
  border: none;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/* S modernloading */
.modern-loading {
  position: relative;
  overflow: hidden;
  height: 5px;
}
.modern-loading-dot {
  position: absolute;
  top: 0;
  right: 100%;
  width: 5px;
  height: 5px;
  background: #FFFFFF;
  transition-property: right;
  transition-timing-function: ease-out;
  -webkit-transition-property: right;
  -webkit-transition-timing-function: ease-out;
}
.modern-loading-ani {
  right: 0;
}
/* E modernloading */
.widget_preview {
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
  position: fixed;
  overflow: hidden;
  color: #FFFFFF;
  z-index: 200;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: default;
}
.widget_preview a {
  color: #FFFFFF;
}
.widget_preview.open {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.widget_preview > .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #FFFFFF;
  right: 100%;
}
.widget_preview > .dot.open {
  right: 0%;
}
.widget_preview .modern-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: none;
}
.widget_detail_box {
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  font-size: 0.9em;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.preview_loading .modern-loading {
  display: block;
}
.preview_loaded .widget_detail_box {
  -webkit-animation: aniWidgetPreview 0.2s linear;
  animation: aniWidgetPreview 0.2s linear;
}
.widget_detail {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.widget_detail.open {
  display: block;
  z-index: 2;
}
.widget_detail.hide_hd .widget_detail_hd {
  top: -45px;
}
.widget_detail.hide_hd .widget_detail_bd {
  top: 5px;
}
.widget_detail_hd {
  position: relative;
  height: 30px;
  overflow: hidden;
  color: #111111;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.widget_detail_hd h1 {
  height: 30px;
  line-height: 30px;
  margin: 0;
  font-size: 1.4em;
  text-transform: uppercase;
}
.widget_detail_bd {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.widget_detail_bd iframe {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.widget_sidebar {
  position: absolute;
  display: table;
  top: 0px;
  bottom: 0px;
  right: -62px;
  z-index: 500;
  width: 72px;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.widget_sidebar.open,
.widget_sidebar:hover {
  right: 0px;
  background-color: #111111;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.widget_sidebar .widget_sidebar_bd {
  display: table-cell;
  vertical-align: middle;
}
.widget_sidebar .widget_sidebar_action {
  background-repeat: no-repeat;
  background-position: 50% 10px;
  height: 84px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.widget_sidebar .widget_sidebar_action:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.widget_sidebar .widget_sidebar_action span {
  font-size: 0.7em;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  bottom: 10px;
}
.widget_sidebar .ico_minimize {
  margin-top: 10px;
}
.widget_sidebar .cancel {
  background-image: url('../img/cancel.png');
}
.widget_sidebar .download {
  background-image: url('../img/save.png');
}
.widget_sidebar .back {
  background-image: url('../img/back.png');
}
.widget_sidebar .next {
  background-image: url('../img/next.png');
}
.widget_sidebar .refresh {
  background-image: url('../img/refresh.png');
}
.widget_preview_html {
  padding: 20px;
  margin: 0px 20px 20px 20px;
  color: #000000;
  background-color: #FFFFFF;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.widget_preview_html.dark {
  background-color: #111111;
  color: #FFFFFF;
}
.widget_preview_html h2 {
  font-size: 1.4em;
  margin-left: 20px;
}
.widget_preview_html h3 {
  font-size: 1.3em;
  margin-left: 20px;
}
.widget_preview_html h4 {
  font-size: 1.2em;
  margin-left: 20px;
}
.widget_preview_html h5 {
  font-size: 1.1em;
  margin-left: 20px;
}
.widget_preview_html h6 {
  font-size: 1em;
  margin-left: 20px;
}
.widget_preview_html .grid4 {
  float: left;
  width: 22.75%;
  margin: 0px 1.5%;
}
.widget_preview_html .grid4:first-child {
  margin-left: 0px;
}
.widget_preview_html .grid4:last-child {
  margin-right: 0px;
}
.widget_preview_html input[type="text"],
.widget_preview_html input[type="email"],
.widget_preview_html textarea {
  border: none;
  padding: 8px 10px;
  margin-bottom: 20px;
  background-color: #F9F9F9;
  resize: none;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.widget_preview_html input[type="text"],
.widget_preview_html input[type="email"] {
  width: 50%;
}
.widget_preview_html textarea {
  width: 100%;
  height: 150px;
}
.widget_preview_html input[type="text"]:focus,
.widget_preview_html input[type="email"]:focus,
.widget_preview_html textarea:focus {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.widget_preview_html input.invalid,
.widget_preview_html textarea.invalid {
  background-color: #FFEDED;
}
.widget_preview_html input[type="button"],
.widget_preview_html input[type="submit"] {
  border: none;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-color: #222222;
  padding: 8px 20px 8px 20px;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 6px #999999;
  box-shadow: 1px 1px 6px #999999;
}
.widget_preview_html input[type="button"]:hover,
.widget_preview_html input[type="submit"]:hover {
  background-color: #333333;
}
.widget_preview_html input[type="button"]:active,
.widget_preview_html input[type="submit"]:active {
  -webkit-box-shadow: 2px 2px 6px #000000 inset;
  box-shadow: 2px 2px 6px #000000 inset;
}
.widget_preview_html ul {
  padding: 0px 10px;
  margin: 0px;
  list-style: none;
  padding: 20px;
  margin: 0px 20px 20px 20px;
  color: #000000;
  background-color: #FFFFFF;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.widget_preview_html li {
  background: url('../images/bullet.png') no-repeat 10px 50%;
  padding: 10px 10px 10px 45px;
  background-color: #EEEEEE;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.widget_preview_html li:first-child {
  border-top: none;
}
.widget_preview_html li:last-child {
  border-bottom: none;
}
.widget_preview_html li:hover {
  background-color: #DDDDDD;
  background-position: 20px 50%;
  padding-left: 55px;
}
@-webkit-keyframes aniWidgetPreview {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
@keyframes aniWidgetPreview {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.themepicker_toggle {
  position: absolute;
  z-index: 25;
  cursor: pointer;
  top: 10px;
  left: -46px;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-image: url('../img/settings.png');
}
.themepicker {
  position: fixed;
  z-index: 50;
  width: 190px;
  right: -190px;
  top: 0px;
  bottom: 0px;
  cursor: default;
  background-color: #BE213E;
  background-image: none;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
  -webkit-transition: right 0.1s linear;
  transition: right 0.1s linear;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.themepicker_active .themepicker_toggle {
  background-image: url('../img/cancel.png');
}
.themepicker_active .themepicker {
  right: 0px;
}
.square {
  width: 40px;
  height: 20px;
  margin: 7px 10px 0px 30px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  background-size: cover;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.themepicker_list {
  margin: 10px 0px 10px 0px;
  overflow: hidden;
}
.themepicker_list .theme {
  position: relative;
  overflow: hidden;
  height: 36px;
  cursor: pointer;
}
.themepicker_list .theme:hover,
.themepicker_list .theme.selected {
  background-color: rgba(0, 0, 0, 0.2);
}
.themepicker_list h4 {
  clear: both;
  margin: 0 0 5px 30px;
  color: #333333;
  font-weight: bold;
  font-size: 1.2em;
  -webkit-text-shadow: 0 1px 1px #cccccc;
  text-shadow: 0 1px 1px #cccccc;
}
.themepicker_list label {
  position: absolute;
  color: #FFFFFF;
  left: 80px;
  top: 0px;
  height: 36px;
  line-height: 36px;
  -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 0.8em;
}
.color_default {
  background: url('../img/colour.png');
}
.color_blue,
.theme-blue .themepicker {
  background-color: #0097aa;
}
.color_orange,
.theme-orange .themepicker {
  background-color: #f29500;
}
.color_red,
.theme-red .themepicker {
  background-color: #c23916;
}
.color_green,
.theme-green .themepicker {
  background-color: #94c849;
}
.color_darkgreen,
.theme-darkgreen .themepicker {
  background-color: #6fa014;
}
.color_purple,
.theme-purple .themepicker {
  background-color: #91009b;
}
.color_darkred,
.theme-darkred .themepicker {
  background-color: #be213e;
}
.color_darkblue,
.theme-darkblue .themepicker {
  background-color: #3c7780;
}
.color_yellow,
.theme-yellow .themepicker {
  background-color: #d9b700;
}
.color_grey,
.theme-grey .themepicker {
  background-color: #4c4c4c;
}
.form_app {
  position: fixed;
  z-index: 49;
  width: 300px;
  right: -300px;
  top: 65px;
  bottom: 0px;
  cursor: default;
  background-color: #F29500;
  background-image: none;
  -webkit-box-shadow: 0px 0px 5px #000000;
  box-shadow: 0px 0px 5px #000000;
  -webkit-transition: right 0.1s linear;
  transition: right 0.1s linear;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.form_app input {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 260px;
  height: 20px;
  padding: 4px 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
}
.form_app textarea {
  width: 260px;
  padding: 4px 6px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.form_app .control-group {
  margin: 5px 0;
}
.form_app .control-label {
  margin-bottom: 10px;
  display: block;
}
.form_app .form-actions {
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 101%;
  background-color: #000;
  margin: 0 0 0 -1em;
}
.form_app .btn {
  padding: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  display: inline-block;
  background-color: #000;
}
.form_app .btn:hover {
  background-color: #fff;
  color: #000;
}
.form_app_active {
  right: 300px;
}
.ico_minimize {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.ico_minimize:after {
  content: '';
  width: 24px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -1.5px;
}
.wthumblist {
  position: fixed;
  bottom: 0;
  height: 55px;
  left: 60px;
  right: 60px;
}
.wthumb {
  position: relative;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.wthumb .close {
  display: none;
  position: absolute;
  bottom: 0;
  right: -6px;
  width: 16px;
  height: 16px;
  color: #000;
  background-color: #fff;
  font: bold 24px/16px Helvetica, Arial, sans-serif;
  text-align: center;
}
.wthumb:hover .close {
  display: block;
}
/*
Pages
*/
div.inline_wrapper {
  margin: 0px 20px 20px 20px;
}
img.inline_preview {
  display: block;
  background-color: #FFFFFF;
  padding: 10px;
  width: 610px;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
div.feature {
  width: 650px;
  max-width: 100%;
}
div.feature strong {
  display: block;
  margin: 0px 20px;
  padding: 10px;
  color: #111111;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
div.preview_button {
  width: 610px;
  max-width: 100%;
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}
a.demo,
a.download {
  display: inline-block;
  background-image: url('../img/envato_sprite.png');
  background-repeat: no-repeat;
  background-color: #222222;
  padding: 8px 12px 8px 36px;
  font-size: 0.9em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 1px 6px #222222;
  box-shadow: 1px 1px 6px #222222;
}
a.demo:hover,
a.download:hover {
  background-color: #333333;
}
a.demo:active,
a.download:active {
  -webkit-box-shadow: 2px 2px 6px #000000 inset;
  box-shadow: 2px 2px 6px #000000 inset;
}
a.demo {
  background-position: 10px -404px;
  margin-right: 20px;
}
a.download {
  background-position: 10px -701px;
}
div.settings {
  overflow: hidden;
  top: 0px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  color: #000000;
  text-shadow: 0px 1px 1px #FFFFFF;
  z-index: 10;
  margin: 0px 20px 20px 20px;
  -webkit-box-shadow: 0px 2px 5px #000000;
  box-shadow: 0px 2px 5px #000000;
  -webkit-user-select: none;
  user-select: none;
}
div.settings > div {
  float: left;
  position: relative;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #DDDDDD;
  border-left: 1px solid #FFFFFF;
  cursor: pointer;
  width: 120px;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
div.settings > div > span {
  display: block;
  margin: 10px auto 0px auto;
}
div.settings > div > select {
  width: 90%;
}
div.settings > div.selected,
div.settings > div:hover {
  background-color: #A8240D;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000000;
}
div.settings.blue > div.selected,
div.settings.blue > div:hover {
  background-color: #22A7CA;
}
div.settings > div:first-child {
  border-left: none;
}
div.settings > div.selected:hover {
  cursor: default;
}
/* settings */
#demo {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}
div.setting_options {
  margin-left: 140px;
}
div.setting_label {
  width: 140px;
  float: left;
}
div.setting_options label {
  width: 80px;
  display: inline-block;
}
div.settings > div {
  width: 100px;
}
/* contact */
.contact_map {
  padding: 0px !important;
}
.contact_map iframe {
  display: block;
}
.contact label {
  display: block;
  margin-bottom: 5px;
}
