<header>
	<div id="settings"></div>

	<div id="systemControl">
		<a class="btn" href="#"><em class=
		"icon-resize-small"></em></a>
		<a class="btn" href="#"><em class=
		"icon-off"></em></a>
	</div>

	<div id="theme_picker">
		<h4>皮肤:</h4>

		<div class="theme selected">
			<div class="square default"></div><label class=
			"text_shadow">custom</label>
		</div>

		<div class="theme">
			<div class="square blue"></div><label class=
			"text_shadow">blue</label>
		</div>

		<div class="theme">
			<div class="square orange"></div><label class=
			"text_shadow">orange</label>
		</div>

		<div class="theme">
			<div class="square red"></div><label class=
			"text_shadow">red</label>
		</div>

		<div class="theme">
			<div class="square green"></div><label class=
			"text_shadow">green</label>
		</div>

		<h4>管理应用:</h4>

		<div class="add_apps">
			<a class="btn" href="#"><em class=
			"icon-plus"></em>添加官方应用</a><a class="btn" href="#"><em class=
			"icon-plus"></em>添加自定义应用</a>
		</div>

		<h4>正在运行:</h4>

		<ul class="apps">
			<li style=
			"background-image:url(img/logo.png);background-size:cover;">
			</li>

			<li style=
			"background-image:url(img/widget_royal_preloader.png);"></li>

			<li style=
			"background-image:url(img/widget_contact.png);background-size:cover;">
			</li>

			<li style="background-image:url(img/widget_blog.png);"></li>

			<li style=
			"background-image:url(img/widget_gallery.png);background-size:cover;">
			</li>

			<li style="background-image:url(img/widget_editable.png);">
			</li>
		</ul>
	</div>
</header>